{% extends 'base.html.twig' %}

{% block title %}Hello MediatekController!{% endblock %}

{% block body %}
   <section>
    <h1>Bienvenue sur votre médiatheque </h1>

     <p>Nous sommes ravis de vous accueillir</p>
   </section>
{% endblock %}
