{#{% extends 'base.html.twig' %}#}

{#{% block title %}show livre{% endblock %}#}

{#{% block body %}#}
<h2>Liste de livre du même auteur </h2>
    {% for book in books %}
       {{ book.title }}
    {% endfor%}

{#{% endblock %}#}
